<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Review+ Rewrite</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}" type="text/css">
</head>
<body class="font-sans bg-sky-950 flex flex-col justify-center items-center h-screen">
    <div class="bg-sky-800 flex flex-col p-6 m-6 rounded-lg w-64 text-white justify-center items-center h-auto">
        <h1>404</h1>
        <p class="text-2xl"><strong>Page not found</strong></p>
        <a href="{% url 'index' %}" class="inline-block w-16 mt-6 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700">Back</a>
    </div>
</body>
</html>
