<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{# Ratings for games #}
    <form method="post">
        {% csrf_token %}
        <div class="m-6 flex space-x-4">
            <input type="radio" id="rating++" name="rating" value="++" {% if request.POST.rating == '++' %}checked{% endif %} class="hidden" />
            <label for="rating++" class="cursor-pointer px-6 py-2 rounded-md bg-gray-200 text-center hover:bg-green-600 hover:text-white transition duration-200 ease-in-out">++</label>

            <input type="radio" id="rating+" name="rating" value="+" {% if request.POST.rating == '+' %}checked{% endif %} class="hidden" />
            <label for="rating+" class="cursor-pointer px-6 py-2 rounded-md bg-gray-200 text-center hover:bg-green-400 hover:text-white transition duration-200 ease-in-out">+</label>

            <input type="radio" id="rating+-" name="rating" value="+-" {% if request.POST.rating == '+-' %}checked{% endif %} class="hidden" />
            <label for="rating+-" class="cursor-pointer px-6 py-2 rounded-md bg-gray-200 text-center hover:bg-yellow-400 hover:text-white transition duration-200 ease-in-out">+-</label>

            <input type="radio" id="rating-" name="rating" value="-" {% if request.POST.rating == '-' %}checked{% endif %} class="hidden" />
            <label for="rating-" class="cursor-pointer px-6 py-2 rounded-md bg-gray-200 text-center hover:bg-red-400 hover:text-white transition duration-200 ease-in-out">-</label>

            <input type="radio" id="rating--" name="rating" value="--" {% if request.POST.rating == '--' %}checked{% endif %} class="hidden" />
            <label for="rating--" class="cursor-pointer px-6 py-2 rounded-md bg-gray-200 text-center hover:bg-red-600 hover:text-white transition duration-200 ease-in-out">--</label>
        </div>

        {# Area to write your review #}
        <div class="bg-sky-800 flex flex-col p-6 m-6 rounded-lg w-3/4">
            <label for="review_text" class="text-white mb-2">Your Review:</label>
            <textarea id="review_text" name="review_text" rows="5" class="form-control" placeholder="Write your review here...">{{ request.POST.review_text }}</textarea>
        </div>
        {# Inputs that store the information of what game was selected for other forms #}
        <input type="hidden" name="app_id" value="{{ app_id }}">
        <input type="hidden" name="app_name" value="{{ game_details.name }}">
        {# Button to submit your review #}
        <button type="submit" class="h-6 w-36 h-8 ml-6 rounded-lg text-white text-center transition duration-500 ease-in-out bg-blue-500 hover:bg-green-500 transform hover:-translate-y-1 hover:scale-110">Submit Review</button>
    </form>
</body>
</html>